body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: black;
    font-size: 16px;
}


.parameters {
    background: rgb(203, 203, 203);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

select, input {
    padding: 5px;
    border-radius: 4px;
    width: 50px;
}

button {
    border: 0px;
    height: 30px;
    width: 80px;
    border-radius: 4px;
}

#apply{
    background-color: rgba(66, 66, 237, 0.576);
    color: white;
}

.container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{
    font-size: 16px;
}


#play{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#play_control{
    margin-top: 10px;
    gap: 30px;
}

#display{
    background: rgb(242, 242, 242);
    border: 1px solid rgba(99, 99, 99, 0.51);
    width: 1100px;
    min-height: 50px;
    font-size: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    text-align: center;
}

#step{
    background-color: rgba(255, 143, 73, 0.785);
}

#auto{
    background-color: rgba(0, 255, 0, 0.729);
}

#reset{
    background-color: rgba(255, 212, 71, 0.914);
}


.grid{
    display: grid;
    gap: 2px;
    margin-top: 10px;
}

.cell {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.cell.input_cell{
    background-color: rgb(102, 180, 226);
}

.cell.padding_cell{
    background-color: rgba(205, 205, 205, 0.675);
    color: white;
}

.cell.kernel_cell{
    background-color: rgba(255, 228, 196, 0.695);
}

.cell.output_cell{
    background-color: rgba(0, 201, 167, 0.5);
}

.symbol{
    align-self: center;
}

.highlight{
    background-color: rgba(178, 178, 79, 0.699) !important;
    opacity: 100% !important;
}

footer{ 
    color: rgb(72, 72, 72);
    font-size: 12px;
    text-align: center;
}
#describe{
    color: rgb(72, 72, 72);
    font-size: 18px;
    display: block;
    text-align: center;
    margin-top: -15px;
}